// COLORS
$color-primary: #4c9b9e;
$color-primary-light: #81d2ef;
$color-primary-dark: #27eaf4;

$color-secondary-light: #37b1b2;
$color-secondary-dark: #072e2e;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #aaaaaa;
$color-grey-dark-2: #777777;
$color-grey-dark-3: #444;

$color-white: #fff;
$color-black: #000;

//font size
$default-font-size: 1.6rem;

// header height
$header-height: 7rem;
